// Used by __rwd 
// Always use @media queries defined in rwd rather than directly referencing these values

// target: Phone and small tablet - landscape
$screen-sm: 36em;

// target: Small  tablet - portrait
$screen-md: 48em;

// target: Tablet and small laptop
$screen-lg: 62em;

// target: desktop and large tablets
$screen-xl: 80em;

